{% extends "code_journals/base.html" %}

{% block page_header %}
<div class="card text-center bg-light shadow my-5">
    <div class="card-body py-5">
        <h1 class="card-title display-4">Code Journal</h1>
        <p class="card-text lead">A python application</p>
        <hr class="my-4">
        <p>This app contains topics related to CIS 240</p>
    </div>
{% endblock page_header %}

{% block content %}
<h2>Code Journal will help you keep track of your Python 
knowledge for the topics you learn in CIS 240</h2>

{% endblock content %}
