{% extends "budget_app/base.html" %}

{% block page_header %}
<section class="bg-light text-center py-5">
    <div class="container">
      <h1 class="display-4">Pythonic Purse</h1>
      <h2>A Pyhton budget application</h2>
      <h3>Intelligent Budgeting, Python-Powered</h3>
    </div>
  </section>
{% endblock page_header %}

{% block content %}

<p>This Budget App will help you achieve the goals you're working toward. 
    Hopefully it will give you an action plan of where your money is going</p>

{% endblock content %}
